body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

th, label, strong, b, .label {
  font-weight: 500 !important;
}

.col{
	overflow:scroll;

}

.col-4 {
  flex-grow: 1;
  transition: all 400ms ease;
}

.col-2 {
  width: 0; 
  flex-shrink: 1;
  transition: all 400ms ease;
}
