body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}

th, label, strong, b, .label {
  font-weight: 500 !important;
}

.col, .col-4, .col-3{
	overflow:scroll;
}


.col-4 {
  flex-grow: 1;
  transition: all 400ms ease;
}

.col-2 {
  //width: 0; 
  flex-shrink: 1;
  transition: all 400ms ease;
}


.dropdown-item.active{
    background-color: #d9d9d9 !important;
}


.oi-menu {
  content:'\e09b';
}

.oi {
  position: relative;
  top: 1px;
  display: inline-block;
  speak:none;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oi:empty:before {
  width: 1em;
  text-align: center;
  box-sizing: content-box;
}

