// body, html {
//   font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
//   font-weight: 400;
// }

// th, label, strong, b, .label {
//   font-weight: 500 !important;
// }

::-webkit-scrollbar { 
  display: none; 
}


html, body  { 
	height: 100%;
	width: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 150%;
}

p {
  margin-bottom: 10px;
}

.paddingBlock {
	padding: 20px 0;
}

.eqWrap {
	display: flex;
}

.eq {
	padding: 10px;
}


.equalHW {
	flex: 1;
}

// .equalHMWrap {
// 	justify-content: space-between;
// }

// .equalHM {
// 	width: 32%;
// }

#col1{
  width:250px;
  transition: all 400ms ease;
}

#col1-expanded{
  width:500px;
  transition: all 400ms ease;
}

#col2{
  width:550px;
}

#col3{
  flex:1;
  min-width: 10px;
}

table text{
  pointer-events: none;
}


.equalHMRWrap {
	justify-content: space-between;
	flex-wrap: wrap;
}

.equalHMR {
	width: 32%;
	margin-bottom: 2%;
}

.equalHMVWrap {
	flex-wrap: wrap;
}

.equalHMV {
	width: 32%;
	margin: 1%;	
}

.equalHMV:nth-of-type(3n) {
	margin-right: 0;	
}

.equalHMV:nth-of-type(3n+1) {
	margin-left: 0;	
}




// nav.navbar{
//   border-right:2px solid !important;
//   border-right-color: #929292 !important;
// }

.btn-link,.dropdown-toggle{
  background-color: #e4e4e4;
  margin-left:5px;
}

ul.nav.navbar-nav{
  float:right;
}

#attributeMenu{
  float:left;
}


// .col, .col-4, .col-2{
//   overflow:scroll;
// }

// #col1,#col2,#col3{
//   padding-right: 5px;
// }

// #col1{
//   flex:1;
//   transition: all 400ms ease;
// }

// #col1-expanded{
//   flex:2;
//   transition: all 400ms ease;
// }

// #col2{
//   flex:1
// }

// #col3{
//   flex:1;
// }

.header{
  cursor: move;;
}

.resizeBar{
  cursor:ew-resize;
}

.tooltipTitle, .tooltipContent{
  font-weight:200;
  fill:#676666;
}

.tooltipContent{
  font-size:12px;
}


.container-fluid{
  display:inline-flex;
}

#tooltipMenu, #treeMenu{
  position: absolute;
}

#data_selection {
  // resize: horizontal;
  overflow: scroll;
  height:100vh;
}

#tableBody{
  height: 1200px;
  overflow-y: scroll;
}

// tbody{
//   display: block;
//   height: 300px;
//   overflow-y:scroll;
// }

// .colSummary{
//   cursor: context-menu;
// }

.backgroundRect{
  fill:white;
  cursor: move;
}

.backgroundRect.hoverRect{
  fill:#ececec;
}

.menu text{
  pointer-events: none;
}

.familyBar{
  // width:5px;
  stroke-width: 3px;
  stroke:rgb(25, 25, 25);
  stroke-dasharray: 5px;
  // fill:rgb(25, 25, 25);
}

#loading{
  position:absolute;
  width:100%;
  margin-top:200px;
  text-align: center;
}

// #col2{
//   width:550px;
// }


// .col-4 {
//   flex-grow: 1;
//   transition: all 400ms ease;
// }

// .col-2 {
//   //width: 0; 
//   // flex-shrink: 1;
//   transition: all 400ms ease;
// }


.dropdown-item.active{
    background-color: #d9d9d9 !important;
}

#graphHeaders, #tableDiv1{
  height:195px;
}

#tableDiv1{
  overflow-x:scroll;
}

#tableDiv{
  width:1920;
  height:3600;
  overflow-x: scroll
}

#viewPort{
  height:100%;
}

#tableDiv2, #graphDiv{
  height:1000px;
  overflow-x: visible;
  overflow-y: scroll;
}

.dropdown-item{
  cursor: copy;
}

.dropdown-item.active{
  cursor: default;
}

.progress{
  cursor:progress;
}




