$edge-color: #4f4f4d;
$node-color: #9ba1a1;
$affected-node-color: rgb(48, 50, 50);

.node.affected .nodeIcon{
  fill: $affected-node-color;
  stroke: none;
}

.node{
  fill: #e2e2e2;
  stroke: #a0a7a7;

}

.well {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 500px;
}
.fixed_headers {
  font-size: 14px !important;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #0e2231 !important;
}

#legend{
  //fill: #e7e7e7;
  fill:#4f4f4f;
  opacity:.9;
  stroke: #b6b6b6;
  stroke-width: 2px;
}

td rect{
  fill: #636363;

}

.barLabel{
  font-weight:normal;
  font-size:18px;
}

.sparkLine{
  fill:none;
  stroke: #686c6c;
  stroke-width: 2px;
}
.histogramLabel{
  font-weight:bold;
  font-size:12px;

}

.minValue,
.maxValue{
  font-weight:bold;
  font-size:10px;
}

.meanValue{
  fill: #b40000;
}

.colSummary{
  fill: #5f6262;
}

.frame{
  fill: white;
  stroke:#545757;
  stroke-width: .5px;
}

text.header{
  font-weight:bold;
  text-anchor: middle;
}

.quant_ellipse{
  //stroke: #686c6c;
  //stroke-width: 1px;
  stroke:none;
  opacity:.7;
  //fill:none;
}

.cell{
  fill: $node-color;
}

.cell .categorical.affected{
  fill: $affected-node-color;
}


.idBar{
  fill: #545757;
}

//.cell .categorical.aggregate


.cell text{
  fill: #484848;
  cursor: pointer;
}

.boundary{
  //stroke:$node-color;
  fill:none;
  stroke:none;
  pointer-events: all;

}
.quant{
  fill: #ececec
}

tr.selected{
  background-color: rgba(255, 100, 0, 0.44) !important;
}

////tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #f5f5f5}

th{
  height:40%;
  background-color: #4f4f4f;
  color: white;
}

.fixed_headers {
  width: 300px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_headers th,
.fixed_headers td {
  padding: 5px;
  text-align: left;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 60px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 130px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  width: 110px;
}

.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 300px;
}


label {
  margin-bottom: 10px;
}

.colSummary{
  cursor: pointer;
}
.line {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

#graph_table{
	overflow: scroll;
  overflow-y: scroll;
	height: 100vh;
}


#familySelector{
  height:200px;
  border-bottom: solid lightgray;
}


#yaxis{
  opacity:.2;
  pointer-events: none;
}

.hide{
	opacity: .2
}

#extremes_axis text{
	display: none
}

.axis{
	position: absolute
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}


.axis--x .tick text{
  font-size:16px;
  font-weight:bold;
}


.hist_xscale .tick text{
  font-size:8px;
}

.visible_axis .tick text{
    font-size:12px;
}

#graphDiv{
    overflow-x:scroll;
}

#familySelector{
  overflow-x: scroll;
}

.edges.selected{
    stroke:red;
    stroke-width:3px;
    fill:none
}

.nodeIcon.selected{
    stroke: #ff6400;
    stroke-width:2px;
    /*fill:none*/
}

.highlightBar{
//     stroke:  #ffc800;
    stroke-width:0px;
    fill:#ffc800
}

rect.selected{
//     stroke:  #ff6400;
    stroke-width:0px;
    opacity: .2;
    fill:#ff6400
}

.node rect,
.node circle,
.node .hex{
    //stroke:$node-color;
//     stroke-width: 3px;
}

.couplesLine{
  stroke: rgba(17, 24, 36, 0.73);
}
/*
.node{
	stroke:black
}
*/

.node .lifeRect rect
{
	stroke:none;
  }

.phantom{
 	stroke-opacity:.2;
 	stroke-dasharray:5;
 	fill: white  !important
}

.phantom{
	.lifeRect{
		visibility: hidden
	}
}

.attributeBar{
  stroke: #464646;
  stroke-width: 1px;

}

.attributeFrame{
  stroke: #464646;
  stroke-width: 1px;

}



//.aggregate{
// 	opacity:.2;
//}

//Hide Life Line for Aggregated and Hidden Nodes;
.aggregated .lifeRect,
.collapsed .lifeRect,
.collapsed .attributeBar,
.collapsed .attributeFrame{
	visibility:hidden;
}

.kidGrid.collapsed,
.collapsed .couplesLine{
	visibility:visible;
}


//.collapsed .backgroundBar{
//	pointer-events: none;
//}


.nodeLine{
	stroke:#282828;
}

.lifeRect text{
  stroke:none;
}

.collapsed .nodeLine{
  stroke:#9b9a99;
}

.nodeLabel,
.ageLabel,
.nodeIcon,
.lifeRect,
.nodeLine,
.highlightBar,
.kidGrid{
	pointer-events: none;
}

.node:hover .male,
.node:hover .female {
     //opacity: 0.2;
     //stroke:red;
  //fill:none;
  }

.edges{
    stroke:$edge-color;
//     stroke-width: 3px;
    fill:none
}

.parentEdges{
    stroke:$edge-color;
//     stroke-width: 3px;
    fill:none
}

/*.row.selected{
  rect{
    stroke:red;
  }
}*/

#app{
  display: flex;
}

.node a{
visibility:hidden;
}
.node:hover a {
 visibility:visible;
}
