$edge-color: #4f4f4d;
$node-color: #4f4f4d;


.line {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

#graph_table{
	overflow: scroll;
	height: 900px;
}

#yaxis{
  opacity:.2;
  pointer-events: none;
}

.hide{
	opacity: .2
}

#extremes_axis text{
	display: none
}

.axis{
	position: absolute
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.tick text{
    font-size:16px;
}

#graphDiv{
    overflow-x:scroll;
}

.edges.selected{
    stroke:red;
    stroke-width:3px;
    fill:none
}

.nodeIcon.selected{
    stroke: #ff6400;
    stroke-width:2px;
    /*fill:none*/
}

.highlightBar{
//     stroke:  #ffc800;
    stroke-width:0px;
    fill:#ffc800
}

rect.selected{
//     stroke:  #ff6400;
    stroke-width:0px;
    opacity: .2;
    fill:#ff6400
}

.node rect,
.node circle,
.node .hex{
    //stroke:$node-color;
//     stroke-width: 3px;
}

/*
.node{
	stroke:black
}
*/

.node .lifeRect rect
{
	stroke:none;
  }

.phantom{
 	stroke-opacity:.2;
 	stroke-dasharray:5;
 	fill: white  !important
}

.phantom{
	.lifeRect{
		visibility: hidden
	}
}

.aggregate{
 	opacity:.2;
}

//Hide Life Line for Aggregated and Hidden Nodes;
.aggregated .lifeRect,
.collapsed .lifeRect,
.collapsed .attributeBar{
	visibility:hidden;
}

.collapsed .kidGrid,
.collapsed .couplesLine{
	visibility:visible;
}


.collapsed .backgroundBar{
	pointer-events: none;
}

.nodeLine{
	stroke:#282828;
}

.lifeRect text{
  stroke:none;
}

.collapsed .nodeLine{
  stroke:#9b9a99;
}




.nodeLabel,
.ageLabel,
.nodeIcon,
.lifeRect,
.nodeLine,
.highlightBar{
	pointer-events: none;
}

.node:hover .male,
.node:hover .female {
     //opacity: 0.2;
     //stroke:red;
  //fill:none;
  }

.edges{
    stroke:$edge-color;
//     stroke-width: 3px;
    fill:none
}

.parentEdges{
    stroke:$edge-color;
//     stroke-width: 3px;
    fill:none
}

/*.row.selected{
  rect{
    stroke:red;
  }
}*/

#app{
  display: flex;
}

.node a{
visibility:hidden;
}
.node:hover a {
 visibility:visible;
}
