.axis{
	position: absolute
}


/*
.line {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

#graph_table{
	overflow: scroll;
	height: 900px;
}

.hide{
	opacity: .2
}

#extremes_axis text{
	display: none
}

.axis{
	position: absolute
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.tick text{
    font-size:16px;
}

#graphDiv{
    overflow-x:scroll;
}

.edges.selected{
    stroke:red;
    stroke-width:3px;
    fill:none
}

.nodeIcon.selected{
    stroke: #ff6400;
    stroke-width:2px;
}

.backgroundBar{
//     stroke:  #ffc800;
    stroke-width:0px;
    fill:#ffc800
}

rect.selected{
//     stroke:  #ff6400;
    stroke-width:0px;
    opacity: .2;
    fill:#ff6400
}

.node rect,
.node circle {
    stroke:black;
//     stroke-width: 3px;
}

.node .lifeRect rect
{
	stroke:none
}

.phantom{
 	stroke-opacity:.2;
 	stroke-dasharray:5;
 	fill: white  !important
}

.phantom{
	.lifeRect{
		visibility: hidden
	}
}

.aggregate{
 	opacity:.2;
}

.nodeLabel,
.ageLabel,
.nodeIcon,
.lifeRect,
.nodeLine{
	pointer-events: none;
}

.node:hover .male,
.node:hover .female,
  {
//     opacity: 0.5;
//     stroke:red;
  }



.edges{
    stroke:black;
//     stroke-width: 3px;
    fill:none
}

.parentEdges{
    stroke:black;
//     stroke-width: 3px;
    fill:none
}


.boundary {
    stroke:purple;
    stroke-width:4;
}

.boundary.selected {
 // rect{
    stroke:blue;
 // }
}

*/


.boundary.tableselected {
    stroke:#ff6400;
}

.boundary.tablehovered {
    stroke:#ffc800;
}

/*
.row.tableselected .boundary{
    stroke:blue;
}

.row.tablehovered .boundary{
    stroke:purple;
}

*/




/*
#app{
  display: flex;
}

.node a{
visibility:hidden;
}
.node:hover a {
 visibility:visible;
}

*/
